body {
	font-family: 'Roboto', sans-serif;
}

.sponsor-img, .speaker-img {
	height : 150px;
	width : 150px;
	border-radius : 50%;
	border : 2px solid black;
	margin : auto auto;
}

.content-heading {
	font-size : 25px;
	margin-top : 20px;
	margin-bottom : 25px;
	text-align: center;
	color : #4E96FC;
	font-weight : bolder
}

.img-cover {
	text-align: center;
	margin-top : 25px;
	margin-bottom : 25px;
}

.speaker-name {
	margin-top : 10px;
	font-size : 22px;
	font-weight : bolder
}

.speaker-desgn {
	font-size : 18px;
	color : #4E96FC
}

@media (min-width : 990px){
	.nav-des {
		border-bottom: 6px solid transparent;
		padding-left : 10px; 
		padding-right : 10px; 
		padding-bottom : 20px; 
		transform: translateY(25%); 
		z-index : 20
	}
}

.details {
	font-size : 25px;
	font-weight : 1000
}

.phone {
	font-size : 22px
}

.cloud-logo {
	text-align : center; 
	padding-top : 150px
}

@media (max-width : 600px){
	#phone {
		transform: translateX(-25%)
	}
	.details {
		text-align: center
	}
	.phone {
		text-align: center
	}
	.cloud-logo {
		text-align : center; 
		padding-top : 120px
	}
}
