* {
	scroll-behavior: smooth
}

body {
	font-family: 'Roboto', sans-serif;
}

#nav-logo {
	visibility: hidden
}

.sponsor-img, .speaker-img {
	text-align : center;
	height : 150px;
	width : 150px;
	border-radius : 50%;
	margin : auto auto;
}


.content-heading {
	font-size : 25px;

	margin-bottom : 40px;
	text-align: center;
	color : #4E96FC;
	font-weight : bolder;
	padding-top : 50px
}

.img-cover {
	text-align: center;
	margin-top : 25px;
	margin-bottom : 25px;
}

.speaker-name {
	margin-top : 10px;
	font-size : 22px;
	font-weight : bolder
}

.speaker-desgn {
	font-size : 18px;
	color : #4E96FC
}

@media (min-width : 990px){
	.nav-des {
		border-bottom: 6px solid transparent;
		padding-left : 10px; 
		padding-right : 10px; 
		padding-bottom : 20px; 
		transform: translateY(25%); 
		z-index : 20
	}
	.img-fix {
		position: absolute; 
		top : 50%; 
		left : 50%; 
		transform: translate(-50%,-50%)
	}
	.reg-btn {
		position: absolute; 
		top : 60%; 
		left : 50%; 
		transform: translate(-50%,-50%)
	}
}

.nav-des {
	border-bottom: 6px solid transparent;
}

.details {
	font-size : 20px;
	font-weight : 1000
}

.phone {
	font-size : 18px
}

.cloud-logo {
	text-align : center; 
}

@media (max-width : 600px){
	.details {
		text-align: center
	}
	.phone {
		text-align: center
	}
	.cloud-logo {
		text-align : center; 
		padding-top : 120px
	}
}
